version: '3'
services:
  app:
    build:
      context: .
    container_name: olx-server
    volumes:
      - .:/app
    environment:
      - REQUESTS_CA_BUNDLE=/usr/local/lib/python3.9/site-packages/certifi/cacert.pem
    command: /bin/sh entrypoint.sh
  proxy:
    build:
      context: nginx
    container_name: olx-nginx
    restart: always
    ports:
      - 12345:80
    depends_on:
      - app
