Flask==2.0.2
pydantic==1.8.2
lxml==4.6.5
requests==2.26.0
rfeed==1.1.1
pytz==2021.3
uWSGI==2.0.20
punq==0.5
## The following requirements were added by pip freeze:
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
typing_extensions==4.0.1
urllib3==1.26.7
Werkzeug==2.0.2
