{% for ad in ads %}
<tr id="row-{{ ad.id }}">
    <td>{{ loop.index }}</td>
    <td>{{ ad.tag }}</td>
    <!-- include td -->
    {% include 'partials/title_cell.html' %}
    <td>
        <div>{{ ad.parse_date | get_date }}</div>
        <small style="color: #666; font-size: 0.8rem;">
            {{ ad.parse_date | get_time }}
        </small>
    </td>
    <td>
        <div>{{ ad.publication_date | get_date }}</div>
        <small style="color: #666; font-size: 0.8rem;">
            {{ ad.publication_date | get_time }}
        </small>
    </td>
    <td>
        <div class="ad-status">
            {% if ad.is_active %}
                <span class="badge active" style="color: green;">●</span>
            {% else %}
                <span class="badge inactive" style="color: red;">○</span>
            {% endif %}
        </div>
    </td>

    <td>
        <a href="{{ ad.url }}">ссылка</a>
    </td>
</tr>
{% else %}
<tr>
    <td colspan="7" style="text-align: center">
        No objects found.
    </td>
</tr>
{% endfor %}
